// // // BOOTSTRAP COLOR

// // primary
// .bg-primary-100 {
//     background-color: $primary-100;
// }

// .bg-primary-200 {
//     background-color: $primary-200;
// }

// .bg-primary-300 {
//     background-color: $primary-300;
// }

// .bg-primary-400 {
//     background-color: $primary-400;
// }

// .bg-primary-500 {
//     background-color: $primary-500;
// }

// .bg-primary-600 {
//     background-color: $primary-600;
// }

// .bg-primary-700 {
//     background-color: $primary-700;
// }

// .bg-primary-800 {
//     background-color: $primary-800;
// }

// .bg-primary-900 {
//     background-color: $primary-900;
// }

.bg-gray-100 {
    background-color: $gray-100 !important;
}

.bg-gray-200 {
    background-color: $gray-200 !important;
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}

.bg-darkprimary {
    background-color: $darkprimary !important;
}

.bg-lightprimary {
    background-color: #E6F0FF !important;
}