.hr-1 {
    height: 1px;
    width: 100%;
    background-color: #b4b4b4;
}

.hr-2 {
    height: 2px;
    width: 100%;
}

.hr-3 {
    height: 3px;
    width: 100%;
}

.hr-4 {
    height: 4px;
    width: 100%;
}

.hr-5 {
    height: 5px;
    width: 100%;
}